<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>pagesize</param-name>
        <param-value>10</param-value>
    </context-param>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.adminDisplay.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellController</servlet-name>
        <servlet-class>controller.adminDisplay.SellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBuyController</servlet-name>
        <servlet-class>controller.adminInsert.InsertBuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listProvider</servlet-name>
        <servlet-class>controller.adminDisplay.listProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WareHouseController</servlet-name>
        <servlet-class>controller.adminDisplay.WareHouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBillBuyController</servlet-name>
        <servlet-class>controller.adminInsert.InsertBillBuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBillSellController</servlet-name>
        <servlet-class>controller.adminInsert.InsertBillSellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSellController</servlet-name>
        <servlet-class>controller.adminInsert.InsertSellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBuyController</servlet-name>
        <servlet-class>controller.adminUpdate.UpdateBuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSellController</servlet-name>
        <servlet-class>controller.adminUpdate.UpdateSellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuyController</servlet-name>
        <servlet-class>controller.adminDelete.DeleteBuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSellController</servlet-name>
        <servlet-class>controller.adminDelete.DeleteSellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listBillBuyController</servlet-name>
        <servlet-class>controller.adminDisplay.listBillBuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBuyBillController</servlet-name>
        <servlet-class>controller.adminDisplay.ListBuyBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillBuyController</servlet-name>
        <servlet-class>controller.adminUpdate.UpdateBillBuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSellBillController</servlet-name>
        <servlet-class>controller.adminDisplay.ListBillSellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSellbyBillController</servlet-name>
        <servlet-class>controller.adminDisplay.ListSellbyBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillSellController</servlet-name>
        <servlet-class>controller.adminUpdate.UpdateBillSellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProviderController</servlet-name>
        <servlet-class>controller.adminInsert.InsertProviderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProviderController</servlet-name>
        <servlet-class>controller.adminDelete.DeleteProviderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBuyerController</servlet-name>
        <servlet-class>controller.adminDisplay.ListBuyerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuyerController</servlet-name>
        <servlet-class>controller.adminDelete.DeleteBuyerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBuyerController</servlet-name>
        <servlet-class>controller.adminInsert.InsertBuyerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listMachineController</servlet-name>
        <servlet-class>controller.staffDisplay.listMachineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRequestController</servlet-name>
        <servlet-class>controller.staffDisplay.listRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertRequestController</servlet-name>
        <servlet-class>controller.staffInsert.insertRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMachineController</servlet-name>
        <servlet-class>controller.staffDelete.deleteMachineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMachineGroupController</servlet-name>
        <servlet-class>controller.adminInsert.InsertMachineGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listGroupController</servlet-name>
        <servlet-class>controller.adminDisplay.listGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMachineGroupController</servlet-name>
        <servlet-class>controller.adminDisplay.ListMachineGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRequest</servlet-name>
        <servlet-class>controller.adminDisplay.listRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestController</servlet-name>
        <servlet-class>controller.adminUpdate.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/admin/listbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellController</servlet-name>
        <url-pattern>/admin/listsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/admin/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBuyController</servlet-name>
        <url-pattern>/admin/insertbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listProvider</servlet-name>
        <url-pattern>/admin/listProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WareHouseController</servlet-name>
        <url-pattern>/admin/listwarehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBillBuyController</servlet-name>
        <url-pattern>/admin/insertbillbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBillSellController</servlet-name>
        <url-pattern>/admin/insertbillsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSellController</servlet-name>
        <url-pattern>/admin/insertsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBuyController</servlet-name>
        <url-pattern>/admin/updatebuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSellController</servlet-name>
        <url-pattern>/admin/updatesell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuyController</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSellController</servlet-name>
        <url-pattern>/admin/deletesell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listBillBuyController</servlet-name>
        <url-pattern>/admin/listbillbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBuyBillController</servlet-name>
        <url-pattern>/admin/listbillbuy/listbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillBuyController</servlet-name>
        <url-pattern>/admin/listbillbuy/updatebillbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSellBillController</servlet-name>
        <url-pattern>/admin/listbillsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSellbyBillController</servlet-name>
        <url-pattern>/admin/listbillsell/listsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillSellController</servlet-name>
        <url-pattern>/admin/listbillsell/updatebillsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProviderController</servlet-name>
        <url-pattern>/admin/insertprovider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProviderController</servlet-name>
        <url-pattern>/admin/deleteprovider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBuyerController</servlet-name>
        <url-pattern>/admin/listbuyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuyerController</servlet-name>
        <url-pattern>/admin/deletebuyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBuyerController</servlet-name>
        <url-pattern>/admin/insertbuyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listMachineController</servlet-name>
        <url-pattern>/staff/listmachine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRequestController</servlet-name>
        <url-pattern>/staff/listrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertRequestController</servlet-name>
        <url-pattern>/staff/addrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMachineController</servlet-name>
        <url-pattern>/staff/deletemachine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMachineGroupController</servlet-name>
        <url-pattern>/admin/moveto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listGroupController</servlet-name>
        <url-pattern>/admin/listgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMachineGroupController</servlet-name>
        <url-pattern>/admin/listmachinegroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRequest</servlet-name>
        <url-pattern>/admin/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestController</servlet-name>
        <url-pattern>/admin/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/trangchu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
